.header
    position: fixed
    display: flex
    margin-top: 16px
    width: 100%
    padding-inline: 24px
    gap: 16px
    justify-content: space-between
    z-index: 1

.logo svg
    height: 32px
    width: auto
